<div class="callout callout--primary">
    <div class="grid grid--1x2">
        <div class="callout__content">
            <h2 class="callout__heading">Ready to Get Started?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quas aliquam alias ipsum,
                obcaecati a iste! Dolorum, dolor? Provident laudantium soluta, optio fugiat ratione repellendus
                nobis non porro eaque placeat!</p>
        </div>
        <a href="#" class="button button--secondary button--stretched">GET STARTED</a>
    </div>
</div>